<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liuzh.one">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.liuzh.one.application.App"
        android:allowBackup="true"
        android:icon="@drawable/one_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--开启应用首屏-->
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity android:name=".activity.MainActivity" />
        <!--阅读详情页-->
        <activity android:name=".activity.ReadActivity" />
        <!--音乐详情页-->
        <activity android:name=".activity.MusicActivity" />
        <!--电影详情页-->
        <activity android:name=".activity.MovieActivity" />
        <!--电影简介页-->
        <activity android:name=".activity.MovieProfileActivity" />
        <!--问答详情页-->
        <activity android:name=".activity.QuestionActivity" />
        <!--播放video页面-->
        <activity android:name=".activity.VideoActivity"/>
        <!--作者页面-->
        <activity android:name=".activity.AuthorActivity"/>
    </application>

</manifest>